.env
djangoSuperMarketTest\mysite\__pycache__
.\mysite\pg_service.conf
.\mysite\my_pgpass
djangoSuperMarketTest\supermarketTest\__pycache__
djangoSuperMarketTest\supermarketTest\migrations\__pycache__
*.pyc
